// 配置全局变量
// 字体颜色
$h6: #999;
// 导航栏
$nav-height: 60px;

// logo
$logo-width: 40px;
$logo-title-fontsize: 15px;
$logo-title-fontweight: 500;

// 路由展示区
$container-margin: 0 20px;

// 导航栏
$circle-size: 28px;

//品牌列表
$card-margin-bottom: 20px;

// 数据大屏
$text-color: #b6e8f8;
$text-shadow: 0 0 6px #80d8f5;